.form-section form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-section form .form-entry {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-section form label {
    color: var(--text-2);
}

.form-section form input[type="text"],
.form-section form input[type="email"],
.form-section form input[type="password"] {
    font-size: 1.2rem;
    padding: 0.5em 0.8em;
    border-radius: 0.7rem;
    border: 2px solid var(--background-3);
    background: #444845;
    transition: 0.2s;
}

.form-section form input[type="text"]:focus,
.form-section form input[type="email"]:focus,
.form-section form input[type="password"]:focus {
    border: 2px solid var(--primary);

}

.button-row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: stretch;
    width: 100%;
}

.button-row * {
    flex: 1;
}

.form-section .errors {
    margin-top: 1rem;
    display: block;
    background-color: var(--danger);
    border-radius: 0.7rem;
    border-bottom: solid var(--alternate-danger) 5px;
    padding: 1em;
}

.form-section .errors h2 {
    margin-top: 0;
}

.form-section .errors ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-section .errors li {
    all: revert;
}

.form-section .success {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--alternate-primary);
    text-align: center;
}
