.form-section form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-section .form-entry {
    display: flex;
    flex-direction: column;
}

.form-section label {
    color: var(--text-2);
    margin-bottom: 0.5em;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="password"],
.form-section select {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5em 0.8em;
    border-radius: 0.7rem;
    border: 2px solid var(--background-3);
    background: #444845;
    color: var(--text-1);
    transition: 0.2s;
}

.form-section input[type="text"]:focus,
.form-section input[type="email"]:focus,
.form-section input[type="password"]:focus,
.form-section select:focus {
    border: 2px solid var(--primary);

}

.button-row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: stretch;
    width: 100%;
}

.button-row * {
    flex: 1;
}
