.content {
    max-width: 45rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.items li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--background-2);
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.items li .info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.items li .info .name {
    font-size: 1rem;
    font-weight: bold;
}

.items li .info .user-info {
    font-size: 0.9rem;
    color: var(--text-2);
}

.items li .actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.items .empty {
    background: none;
    color: var(--text-2);
    font-style: italic;
    padding: 0;
}

.circle-check {
    padding: 0.3em;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.circle-check svg {
    display: block;
    width: 1.5em;
    height: 1.5em;
}

.circle-check .circle {
    color: var(--alternate-default-color);
    transition: 0.2s;
}

.circle-check .checkmark {
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    opacity: 0;
    transition: 0.2s;
    color: var(--alternate-default-color);
}

.circle-check:hover .checkmark {
    opacity: 1;
}

.circle-check:hover .circle {
    opacity: 0;
}

.list-add {
    margin-top: 0.5rem;
}