<!DOCTYPE html>
<html lang="no">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style/global.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    {% endblock %}
</head>

<body>
    <nav>
        {% block nav %}
        <ul>
            <li><a class="site-title" href="/">Handleliste</a></li>
            <div class="links">
                <li><a href="/history">Historikk</a></li>
            </div>
        </ul>
        {% endblock %}
    </nav>
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

</html>