{% extends "base.html.jinja" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/style/history.css">
<title>Handleliste - historikk</title>
{% endblock %}

{% block content %}
<h1>Historikk</h1>
<ul class="period-selector">
    <a class="button {{ 'primary' if period == 'today' else 'neutral' }}" href="/history/today">
        <li>I dag</li>
    </a>
    <a class="button {{ 'primary' if period == 'this-week' else 'neutral' }}" href="/history/this-week">
        <li>Denne uka</li>
    </a>
    <a class="button {{ 'primary' if period == 'previous-month' else 'neutral' }}" href="/history/previous-month">
        <li>Forrige måned</li>
    </a>
</ul>

<section class="history-list">
    {% if not history %}
    <p class="no-history">Ingen historikk for denne perioden.</p>
    {% endif %}
    {% for date, items in history.items() %}
    <div class="history-day">
        <h2>{{ date|date_format }}</h2>
        <ul>
            {% for item in items %}
            <li>
                <p class="name">{{ item.name }}</p>
                <div class="info">
                    <p class="user-info">Etterspurt: {{ item.created_by_user.username }}, kjøpt: {{
                        item.purchased_by_user.username }}</p>
                    <p class="time">{{ item.purchased_at.strftime('%H:%M') }}</p>
                </div>
            </li>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
{% endblock %}