{% extends "base.html.jinja" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/style/index.css">
<link rel="stylesheet" href="/static/style/forms.css">
<link rel="stylesheet" href="/static/style/dialog.css">
<title>Handleliste</title>
{% endblock %}

{% block content %}
<h1>Handleliste</h1>
<form action="/purchase" method="POST">
    <ul class="items">
        {% for item in items %}
        <li>
            <button type="submit" name="id" value="{{ item.id }}" class="circle-check">
                {% with arguments='class="circle neutral"' %}
                {% include 'snippets/circle-nocheck.svg.jinja' %}
                {% endwith %}
                {% with arguments='class=checkmark' %}
                {% include 'snippets/circle-check.svg.jinja'%}
                {% endwith %}
            </button>
            <div class="info">
                <span class="name">{{ item.name }}</span>
                <div class="user-info">
                    <span>Etterspurt: {{ item.created_by_user.username or '...' }}</span>
                </div>
            </div>
            <div class="actions">
                <a class="icon-button danger ghost" href="/delete/{{ item.id }}">
                    {% include 'snippets/trash.svg.jinja' %}
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</form>
<dialog id="add-item-modal">
    <div class="dialog-content">
        <h2>Legg til vare</h2>
        <div class="form-section">
            <form action="/add" method="POST">
                <div class="form-entry">
                    <label for="name">Navn*</label>
                    <input type="text" name="name" autocomplete="off" required>
                </div>
                <div class="button-row">
                    <button class="button neutral" value="cancel" formmethod="dialog">Avbryt</button>
                    <button class="button primary" type="submit">Legg til</button>
                </div>
            </form>
        </div>
    </div>
</dialog>
<button class="add-task" onclick="document.querySelector('#add-item-modal').showModal()">
    <div class="icon">
        {% include 'snippets/plus.svg.jinja' %}
    </div>
    <span>Legg til vare</span>
</button>

<h2>Nylig handlet</h2>
<form action="/unpurchase" method="POST">
    <ul class="items">
        {% for item in recent_purchases %}
        <li>
            <button class="circle-check" type="submit" name="id" value="{{ item.id }}">
                {% with arguments='class="circle"' %}
                {% include 'snippets/circle-check.svg.jinja' %}
                {% endwith %}
                {% with arguments='class="checkmark danger"' %}
                {% include 'snippets/circle-nocheck.svg.jinja'%}
                {% endwith %}
            </button>
            <div class="info">
                <span class="name">{{ item.name }}</span>
                <div class="user-info">
                    <span>Etterspurt: {{ item.created_by_user.username or '...'}}</span><span>, kjøpt: {{
                        item.purchased_by_user.username or '...'}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</form>
</div>
{% endblock %}