{% extends "base.html.jinja" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/style/index.css">
<link rel="stylesheet" href="/static/style/forms.css">
<link rel="stylesheet" href="/static/style/dialog.css">
<title>Handleliste - Logg inn</title>
{% endblock %}

{% block content %}
<h1>Logg inn</h1>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Brukernavn" required>
    <input type="password" name="password" placeholder="Passord" required>
    <input type="submit" value="Logg inn">
</form>
{% endblock %}