<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" {{ arguments|safe }}>
    <path d="m3.25 3.25 25.5 25.5m0-25.5-25.5 25.5" fill="none" stroke="currentColor" stroke-width="6.5"
        stroke-linecap="round" />
</svg>